### Maven template
target/
.idea/
src/main/resources/
src/main/webapp/*.map
src/main/webapp/*.html
src/main/webapp/*.js
src/main/webapp/*.ico
src/main/ng2Client/dist
src/main/ng2Client/node
src/main/ng2Client/etc
src/main/ng2Client/node_modules