<div class=" container container-fluid" data-qa="transfers-component" role="main">
    <br>
    <br>
    <br>
    <br>
    <pre>{{componentTitle}}</pre>
    <br>
    <div>
        <button class="btn btn-info" (click)="toggleUserForm();"> Create {{createNewComponent}}</button>
    </div>
    <br>
    <br>
    <div *ngIf="showForm">
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label"> User Role Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Enter Role Name" id="example-text-input"
                       [(ngModel)]="name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="writeData();">Submit {{createNewComponent}}</button>
    </div>
    <br>
    <br>
    <div *ngIf="dataLoaded">
        <table class="table table-bordered table-striped table-responsive" data-qa="transfers-table">
            <thead>
            <tr>
                <td>
                    <strong>Role Names</strong>
                </td>
                <td>
                    <strong>Role Description</strong>
                </td>
                <td>
                    <strong>Role Actions</strong>
                </td>
                <td *ngIf="permissionsFetched">
                    <strong>Role Permissions</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let count of resources; let i = index" data-qa="transfer-row" [attr.data-index]="i">
                <td>{{count}}</td>
                <td>{{count}}</td>
                <td *ngIf="permissionsFetched">
                    {{rolePermissions[i].value || "No Permissions fetched for this role"}}
                </td>
                <td>
              <span>
                  <button (click)="roleRemove(count)"><i class="fa fa-eraser"
                                                         aria-hidden="true"></i> Remove Role</button>
              </span>
                    <span>
                  <button (click)="roleDelete(count)"><i class="fa fa-window-close" aria-hidden="true"></i> Delete Role</button>
              </span>
                    <span>
                  <button (click)="fetchRolePermissions(count)"><i class="fa fa-envelope-open" aria-hidden="true"></i> Get Role Permissions</button>
              </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!dataLoaded" class="text-center" data-qa="transfers-loading-overlay">
        <i class="fa fa-spinner fa-spin fa-3x "></i>
    </div>
</div>


