<div class=" container container-fluid" data-qa="transfers-component" role="main">
  <div class="panel-heading" data-qa="transfers-header">
    <pre>CIS Dashboard</pre>
  </div>
  <!--<div>-->
      <!--<label> Select Table Name </label>-->
      <!--<select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="sel2">-->
          <!--<option [value]="i" *ngFor="let i of devices">{{i}}</option>-->
      <!--</select>-->
  <!--</div>-->
    <table class="table table-bordered table-striped table-responsive" data-qa="transfers-table" *ngIf="dataLoaded">
        <thead>
        <tr>
            <th *ngFor="let entry of dataKeys" class="col-xs-1" data-qa="transfers-status-header">
                <div>{{entry.toUpperCase()}}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let count of resources" data-qa="transfer-row">
            <td *ngFor="let data of getValues(count)" class="col-xs-1" data-qa="transfer-activity">
                <span>{{data}}</span></td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="!dataLoaded" class="text-center" data-qa="transfers-loading-overlay">
        <i class="fa fa-spinner fa-spin fa-3x "></i>
    </div>
</div>


