<div class=" container container-fluid" data-qa="transfers-component" role="main">
  <br>
  <br>
  <br>
  <br>
  <pre>{{componentTitle}}</pre>
  <br>
  <div>
    <button class="btn btn-info" (click)="toggleUserForm();"> Create {{createNewComponent}}</button>
  </div>
  <br>
  <br>
  <div *ngIf="showForm">
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">User Name</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" placeholder="Enter User Name" id="example-text-input"
               [(ngModel)]="username">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-email-input" class="col-xs-2 col-form-label">User Password</label>
      <div class="col-xs-10">
        <input class="form-control" type="password" placeholder="Enter User Password" id="example-email-input"
               [(ngModel)]="password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="writeData();">Submit {{createNewComponent}}</button>
  </div>
  <br>
  <br>
  <div *ngIf="dataLoaded">
    <table class="table table-bordered table-striped table-responsive" data-qa="transfers-table">
      <thead>
      <tr>
        <td>
          <strong>Username</strong>
        </td>
        <td>
          <strong>Name</strong>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let count of resources" data-qa="transfer-row">
        <td>{{count}}</td>
        <td>{{count}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!dataLoaded" class="text-center" data-qa="transfers-loading-overlay">
    <i class="fa fa-spinner fa-spin fa-3x "></i>
  </div>
</div>


